<%= turbo_stream.remove "request_#{@conversation.id}" %>

<%# Update the requests tab badge %>
<%= turbo_stream.update "requests_tab_badge" do %>
  <% pending_requests = current_user.pending_message_requests_count %>
  <% if pending_requests > 0 %>
    <span class="tab-badge"><%= pending_requests %></span>
  <% end %>
<% end %>

<%# Update navbar badges %>
<%= turbo_stream.update "dm_badge_mobile" do %>
  <% unread_dm = current_user.unread_messages_count + current_user.pending_message_requests_count %>
  <% if unread_dm > 0 %>
    <span class="mobile-icon-badge"><%= unread_dm %></span>
  <% end %>
<% end %>
<%= turbo_stream.update "dm_badge_desktop" do %>
  <% unread_dm = current_user.unread_messages_count + current_user.pending_message_requests_count %>
  <% if unread_dm > 0 %>
    <span class="notification-badge"><%= unread_dm %></span>
  <% end %>
<% end %>
