<%= turbo_stream.replace "keep_tabs_button_#{@user.id}" do %>
  <%= render "keep_tabs/button", user: @user %>
<% end %>

<%= turbo_stream.replace "followers_count_#{@user.id}" do %>
  <span id="followers_count_<%= @user.id %>"><%= @user.followers.count %></span>
<% end %>
